@font-face {
  font-family: 'raleway';
  src: url('fonts/raleway/Raleway-VariableFont_wght.ttf');
}


body.principal {
  margin: 0;
  padding: 0;
  background-color: black;
  
}

.navbar {
	border-bottom: 1px solid white;
}
header {
  height: 650px;
 /*
  background-image: url("https://images.pexels.com/photos/7070/space-desk-workspace-coworking.jpg");
  background-position: center;
  background-size: cover;
  */
  background-image: url("https://images.pexels.com/photos/1067465/pexels-photo-1067465.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-position: 50px;
}

.contact-container {
	 background-color: #CCC5B9;
	height: auto;
	min-height: 600px;
}

.form-container {
	 background-color: #CCC5B9;
	height: auto;
	min-height: 600px;
	
}

header.contact-header {
  background-image: url("https://images.pexels.com/photos/63507/pexels-photo-63507.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

header.capacitacion-header {
  background-image: url("https://images.pexels.com/photos/443428/pexels-photo-443428.jpeg");
}

.titulo-principal {
  color: white;
  font-weight: bolder;
}

.titulo-principal.titulo-contacto {
  position: relative;
}

.servicios {
  /*background-color: #403D39;*/
  background-color: #CCC5B9;
  height: auto;
  min-height: 300px;
}

.servicio.card {
  color: white;
  font-family: "Times New Roman", Times, serif;
}

#principal {
/*   background-color: #CCC5B9; */
  background-color: black;
  height: auto;
  min-height: 200px;
}



.presentation-card.card-1 {
	border-right: 1px solid black;
}

.presentation-card.card-3 {
	border-left: 1px solid black;
}

footer {
  color: white;
  padding: 5px;
  padding-top: 15px;
  background-color: black;
  margin: 0 auto;
  position: fixed;
  left: 0;
  bottom: 0;
}

.about-title {
  font-weight: bolder;
  height: 50px;
}

.capacitacion-title {
  font-weight: bolder;
  height: 50px;
}

.titulo-servicios {
  color: white;
  font-weight: bolder;
}

.btn {
  background-color: #213555;
}

input {
  min-width: 350px;
  max-width: 500px;
  margin: auto;
}


textarea {
  min-width: 350px;
  max-width: 500px;
  margin: auto;
}

.separator {
 	height: 10vh;
 	width: 50vw;
 	
}

.hidden {
	display: none;
}

@media (max-width: 991px) {
  .contactIcons {
  	display: none;
  }
}
