<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>m5abpro1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Inicio</display-name>
    <servlet-name>Inicio</servlet-name>
    <servlet-class>m5abpro1.Controller.Inicio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inicio</servlet-name>
    <url-pattern>/Inicio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Contacto</display-name>
    <servlet-name>Contacto</servlet-name>
    <servlet-class>m5abpro1.Controller.Contacto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contacto</servlet-name>
    <url-pattern>/Contacto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearCapacitacion</display-name>
    <servlet-name>CrearCapacitacion</servlet-name>
    <servlet-class>m5abpro1.Controller.CrearCapacitacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearCapacitacion</servlet-name>
    <url-pattern>/CrearCapacitacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>m5abpro1.Controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarCapacitacion</display-name>
    <servlet-name>ListarCapacitacion</servlet-name>
    <servlet-class>m5abpro1.Controller.ListarCapacitacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarCapacitacion</servlet-name>
    <url-pattern>/ListarCapacitacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>m5abpro1.Controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>m5abpro1.Controller.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarCapacitacion</display-name>
    <servlet-name>EliminarCapacitacion</servlet-name>
    <servlet-class>m5abpro1.Controller.EliminarCapacitacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarCapacitacion</servlet-name>
    <url-pattern>/EliminarCapacitacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarCapacitacion</display-name>
    <servlet-name>EditarCapacitacion</servlet-name>
    <servlet-class>m5abpro1.Controller.EditarCapacitacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarCapacitacion</servlet-name>
    <url-pattern>/EditarCapacitacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearUsuario</display-name>
    <servlet-name>CrearUsuario</servlet-name>
    <servlet-class>m5abpro1.Controller.CrearUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearUsuario</servlet-name>
    <url-pattern>/CrearUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarUsuario</display-name>
    <servlet-name>ListarUsuario</servlet-name>
    <servlet-class>m5abpro1.Controller.ListarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarUsuario</servlet-name>
    <url-pattern>/ListarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarUsuario</display-name>
    <servlet-name>EditarUsuario</servlet-name>
    <servlet-class>m5abpro1.Controller.EditarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarUsuario</servlet-name>
    <url-pattern>/EditarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarUsuario</display-name>
    <servlet-name>EliminarUsuario</servlet-name>
    <servlet-class>m5abpro1.Controller.EliminarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarUsuario</servlet-name>
    <url-pattern>/EliminarUsuario</url-pattern>
  </servlet-mapping>
</web-app>